<?xml version="1.0" encoding="UTF-8"?>
<!-- logback 설정 
scan: logback 설정 파일 변경 검사 여부 
scanPeriod: 몇 초 주기로 변경 검사를 시행할 것인지 설정 -->
<configuration scan="true" scanPeriod="30 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>C:/logs/hellospring.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>C:/logs/hellospring.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>

    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
    </encoder>
  </appender> 
  
  <!-- 
  Trace > Debug > Info > Warn > Error
   -->
  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>